* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0eff4;
  background-image: url("https://i.postimg.cc/mgmPP2Cv/image.png"); /* Фон — крайняя крышка */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Marck Script', cursive;
}

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-image: url("https://i.postimg.cc/057rpC7d/image.png"); /* Белая карточка */
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 212px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: black;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.box-button {
  background-image: url("https://i.postimg.cc/655wyVcQ/image.png"); /* Красная коробочка */
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 238px;
  border: none;
  cursor: pointer;
}
