* {
  box-sizing: border-box;
}

body {
  background-color: #F0EFF4;
  background-image: url("https://i.postimg.cc/VN8gfpRW/image.png");
  background-position: center center;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  font-family: 'Marck Script', cursive;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transform:translateX(0vw);
}

.button {
  background-image: url("https://i.postimg.cc/9fPMbQb1/image.png");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(-40px);
  border: none;
  width: 368px;
  height: 450px;
  cursor: pointer;
  display: block;
}

.compliment-box {
  position: absolute;
  top: 50%;
  right: 50%; 
 transform: translate(-50%, -50%) translateX(-20vw);
  left: auto; 
  max-width: 260px;
  padding: 40px 25px;
  background: url("https://i.postimg.cc/B6wmV4QP/image.png") center/contain no-repeat;
  height: auto;
  color: black;
  font-family: 'Marck Script', cursive;
  font-size: 28px;
  line-height: 140%;
  text-align: center;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
